body{
    background-color: #bdb8da;
}
.main{
    max-width: 870px;
    
}
.main h3{
    color:#562EFF;
}
.navbar img{
    width: 42px;
    height: 51px;
}
.player img{
    width: 56px;
}
.container-fluid{
    border-bottom: 1px solid gray;
}
.main-1{
    max-width: 870px;
}
.main-1 img{
    width: 177px;
    height: 117px;
}
.main-3{
    margin-top: 10px;
}
.main-3 img{
    width: 252px;
    height: 102pxs;
}