body{
    background-color: #d8d7e4;
}
.main{
    max-width: 870px;
}
.first-sec{
    border-bottom: 1px solid gray;
}
.main h3{
    color:#562EFF;
}
.navbar img{
    width: 42px;
    height: 51px;
}
.player img{
    width: 56px;
}
.main-1{
    max-width: 870px;
}
.main-1 img{
    width: 177px;
    height: 117px;
}
.main-3{
    margin-top: 10px;
}
.main-3 img{
    width: 252px;
    height: 102px;
    display:block;
}
.col-sm-12{
    display: block;
}
.header-nav{
    max-width: 870px;
}